dolphinrc
baloofileinformationrc
QtProject.conf
kiorc
trashrc
xfce4/
xsettingsd/
wallpapers/
systemd/
session/
pulse/
nwg-look/
nvim/
one-nvim/
neofetch/
kitty/
kde.org/
gtk-3.0/
go/
dconf/
chromium/
Thunar/
Graphite-gtk-theme/
Catppuccin-GTK-Theme/
yay/
AmneziaVPN.ORG/
Unknown Organization/
zoom*.conf
Code/
github-copilot/
tmux/plugins/tmux/
tmux/plugins/tpm/
htop/
anytype/
qBittorrent/
yarn/
VirtualBox/
Electron/
Element/
matrix/
birdfont/
inkscape/
nextjs-nodejs/
obs-studio/
menus/
