dolphinrc
baloofileinformationrc
QtProject.conf
kiorc
trashrc
xfce4/
xsettingsd/
wallpapers/
systemd/
session/
pulse/
nwg-look/
nvim/
neofetch/
kitty/
kde.org/
gtk-3.0/
go/
dconf/
chromium/
Thunar/
Graphite-gtk-theme/
Catppuccin-GTK-Theme/
yay/
AmneziaVPN.ORG/
Unknown Organization/
zoom*.conf

tmux/plugins/tmux/
tmux/plugins/tpm/
